<div class="wedding_planner_form">
  <h1>FAQ</h1>

  <h2>What is Eternally Yours Wedding Planner?</h2>

  <p>the Wedding Planner is a customized planning tool to help you organize and execute your wedding on plan and on
    budget. It’s the perfect way to track all those critical details, like guest lists and RSVPs, the budget (who pays
    for what and when), and over 100 must-do items, sorted by due dates based on your wedding. But there is so much
    more… invitation lists, helpful hints, event scheduling and tracking, email reminders, detailed monthly calendars …
    the list goes on and on.
  </p>

  <h2>What about privacy and security?</h2>

  <p>Your data is password secure. Since your data is stored on The Wedding Planner servers, no one except you has
    access to the data. None of your data is shared or revealed without your express permission. You can designate a
    guest page where you can share specified wedding details with your guests. But, you say what to show and what
    password they need to see your information. And, another security feature is automatic daily backup of all your
    data.
  </p>

  <h2>Is using The Wedding Planner going to cost me anything? </h2>

  <p>The Wedding Planner is free for brides and those planning a wedding. </p>

  <h2>What does the My Guest List section do?</h2>

  <p> With The Wedding Planner you can develop your complete guest list as well as the number of people who have been
    invited to the wedding, reception, or other events. Then you can update this information to show who has RSVP’d and
    how many people are planning to attend. You can also keep track of everyone’s phone numbers, fax numbers, or email
    addresses, in case you need to contact anyone. Also, you can keep track of gifts received from each person as well
    as gifts you give to someone (for example; wedding party members or other participants). This is very handy when it
    comes time to send out your Thank You cards. You can also enter information on Participation (are they doing
    something special for your wedding, for example, singing a solo or hosting a bridal shower?). Who is this person? As
    you, at some later time, look at a gift or guest list, you will undoubtedly find many names you can’t identify. With
    EZ Wedding Planner you can enter Relationship information, such as friend of bride, groom’s aunt, and so forth,
    which you will find to be invaluable in the future. You can designate bride's side or groom's side and a count of
    each is tabulated in case you are tracking the number of guests invited from each side. There is even a batch entry
    mode that allows you to quickly and easily add quantities of people.
  </p>

  <h2>What information can I get relating to Vendors?</h2>

  <p>Do you need a convenient way to keep track of who is doing what, as well as contact names and ways to contact them?
    Eternally Yours Wedding Planner will allow you to keep track of everyone providing a service of any kind for your wedding by
    name, address, and category. You can also enter all phone, fax, website and email addresses. You can include
    any comments you may have on each vendor. Would you like to share information relating to your experiences, good or
    bad, with other couples using EZ Wedding Planner? You have this option, and you can also rate your experiences with
    each vendor on a 1-5 scale.
  </p>

  <h2>How can Events section help me?</h2>

  <p>Have you scheduled any events that you would like to keep track of? You can enter dates, locations, start and
    ending times, number of people involved, and any notes you may choose to include. Each of the individual listing sections
    of Wedding Planner will display contact information.
  </p>

  <h2>Can I receive Email reminders of important upcoming occasions?</h2>

  <p> Currently this option is unavailable. However we are aiming at making your experience as best as possible and this is why
    we are working har to provide you with this option. Come back soon and we promise you will not be disappointed.

</div>