/*#reference The Rails View book*/
/* START:base */
.notification {
  background-position: 10px 9px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.6em;
  margin: 0 auto 20px;
  padding: 0.75em 0.75em 0.75em 45px;
}

/* END:base */

/* START:variations */
.notification {
  background: {
    position: 10px 3px;
    repeat: no-repeat;
  }
  color: #fff;
  font: {
    size: 13px;
    weight: bold;
  }
  line-height: 1.3em;
  margin: 0 auto 20px;
  padding: 0.75em 0.75em 0.75em 45px;

  &.notice {
    background: {
      color: #235a0c;
      image: image-url("notification_check_green.png");
    }
  }

  &.alert {
       background: {
         color: #a91818;
         image: image-url("notification_x_red.png");
       }
     }
}

/* END:variations */